%h1 Org Admins for '#{@organization.preffered_name}'

#dashFormsList.dashPanel.managePanel
  %span.panelName Org Admins
  #loading
    %table#manageFormsTable.manageTable{border: 0, cellpadding: 0, cellspacing: 0}
      %tr.manageTableHeader
        %th Name
        %th Email
        %th Roles
        %th
        %th
      - if @admins.blank?
        %tr
          %td{colspan: '4', align: 'center'} No Admins defined yet..
      - else
        - @admins.each do |admin|
          %tr
            %td= "#{admin.fname} #{admin.lname}"
            %td= admin.email
            %td= admin.roles.map(&:name)
    .panelActionContainer
      %ul
        %li= link_to 'Back', organizations_path
        %li= link_to 'Create New Admin', new_org_admin_path
