
<%# signup   %>

<h1>  Confirmation of New Account with KidsLink</h1>
<p>Congratulations! You and your child 
  <strong>ChildPreferredFirstName</strong>
  have joined KidsLink, the online dashboard for parents.</p>

<%="signup_confirmation"%>
<p>During your sign-up process, you also provided access for <strong>OtherFirstName OLastName</strong> [and <strong>OtherFirstName OtherLastName</strong> (or) [, <strong>Other1FirstName Other1LastName</strong>, and <strong>Other2FirstName Other2LastName</strong>] to access this child's records with KidsLink.</p>
<p><a href="#">Click here to begin using your KidsLink dashboard</a></p>
<p>If you also applied for membership for <strong>ChildPreferredFirstName</strong> with any KidsLink-affiliated organization, you will be receiving an additional email when that has been confirmed.</p>
<div class="accountStatusBox">
  <p><strong>Premium account status</strong></p>
  <p>Child: ChildFirstName (ChildPreferredFirstName) ChildLastName<br />
    Cost: $Cost [(or) free for one year (or) $DiscountedCost after discounts<br />
  Term: 00/00/0000 through 00/00/0000</p>
</div>
<p>Please note that KidsLink may charge your credit card at the end of your term to renew your membership unless you notify us at least 30 days in advance.</p>


<%="signup_additional_confirmation"%>
<p>You were automatically linked to <strong>ChildPreferredFirstName's</strong> account by <strong>OtherFirstName OtherLastName</strong>.</p>
<p><a href="#">Click here to begin using your KidsLink dashboard</a></p>
<p>Your temporary password is <strong>TEMPPASSWORD</strong>.</p>


<%# signup   %>




<%= "application_confirmation" %> 
<p>  KidsLink has received your application for
  <strong>ChildPreferredFirstName</strong>
  to OrganizationLongName (SeasonName SessionName).</p>
<p>If the organization accepts
  <strong>ChildPreferredFirstName</strong>, 
  you will receive a follow-up email with additional details..</p>




<%= "status_accepted" %>
<h1>ChildPreferredFirstName has been accepted by OrganizationLongName!</h1>
<p>KidsLink is excited to let you know that OrganizationLongName has accepted  <strong>ChildPreferredFirstName</strong> for  SeasonName SessionName.</p>
<p>Please note that although ChildPreferredFirstName has been accepted, he or she is <strong class="redText">not fully registered</strong> until OrganizationShortName confirms that it has received all documents and forms from you.</p>
<p>At this time, the following forms and documents are ready for your completion in your <strong><a href="#">KidsLink dashboard</a></strong>:</p>
<ul>
  <li>Form itemOne</li>
  <li>Document itemTwo</li>
</ul>
<p>[(or) At this time, there are no additional forms or documents ready for your completion. Stay tuned from KidsLink and OrganizationShortName.]</p>


<%="status_registered"%>
<h1>ChildPreferredFirstName is fully registered for OrganizationLongName!</h1>
<p>KidsLink is excited to let you know that <strong>ChildPreferredFirstName</strong> is now fully registered for <strong>OrganizationLongName</strong> (SeasonName SessionName).</p>
<p>This means that ChildPreferredFirstName is ready to appear when the season or year starts.</p>


<%="org_form_submission"%>
<h1>New form/document received from ChildFirstName (ChildPreferredFirstName) ChildLastName</h1>
<p>KidsLink has received a new form or document on your behalf:</p>
<p>Season: SeasonName<br />
  Session: SessionName<br />
Name: ChildFirstName (ChildPreferredFirstName) ChildLastName</p>
<p><strong>Form/Document: FormOrDocumentName</strong><br />
Time of submission: 00/00/00 00:00pm EDT<br />
Submitted by: SubmitterFirstName SubmitterLastName (<a href="#">submitter@emailAddress.com</a>) </p>
<p> <a href="http://www.mykidslink.com/">Click here to view the child's profile</a>.</p>





<%="org_application"%>
<h1>New Application Submitted for SeasonName</h1>
<p>KidsLink has received a new application on your behalf:</p>
<p>Session: SessionName<br />
  Applicant Name: ChildFirstName (ChildPreferredFirstName) ChildLastName<br />
  Time of application: 00/00/00 00:00pm EDT
</p>
<p> <a href="http://www.mykidslink.com/">Click here to view the child's profile</a>.</p>
<p>For any questions about KidsLink, please reply to this email or visit our web site at <strong><a href="http://www.mykidslink.com/">www.mykidslink.com</a></strong> and choose the About Us page.</p>



<style type="text/css">
body {margin-top: 10px;
margin-left: 40px;
font-family: Arial, Helvetica, sans-serif;
color: #333;
font-size: 13px;
max-width: 600px;}
p { style ="color:#333333;font-family: Arial, Helvetica, sans-serif;font-size: 13px;"}
h1 {
	font-size: 18px;
	font-weight: bold;
}

a {
	color: #13a3de;
}

.accountStatusBox {
	border: solid 1px #13a3de;
	background-color: #e2f4fb;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.redText {
	color: #c00;
}
</style>