<% child_name = "#{@kid.kids_type.fname} (#{@kid.kids_type.nickname}) #{@kid.kids_type.lname}" %>
<h1>New form/document received from <%= child_name %></h1>
<p>KidsLink has received a new form on your behalf:</p>
<p>Season: <%= @applied_season.org_season_year %><br />
  <% if @applied_season.respond_to?(:age_group_and_school_days) %>
    Session: <%= @applied_season.age_group_and_school_days %><br />
  <% end %>
  Child Name: <%= child_name %></p>
<p><strong>Form/Document: <%= @json_template.form_name %></strong><br />
  Time of submission: <%= @created_time.strftime('%m/%d/%Y %I:%M%P %Z') %><br />
  Submitted by: <%= "#{@submitted_by.fname} #{@submitted_by.lname}" %> (<a href="#"><%= @submitted_by.email %></a>) </p>

<p>
  <%= link_to "Click here to view the child's profile",child_dashboard_url(@kid.id) %>
  <%#= link_to "Click here to view the child's profile",child_dashboard_profiles_url(child: @kid.kids_type.id.to_s) %>
  <%#= link_to "Click here to view the child's profile",org_child_profile_organizations_url(kid_id: @kid.id, org: @organization.id) %>.</p>

<p>For any questions about KidsLink, please reply to this email or visit our web site at <strong><a href="http://www.mykidslink.com/">www.mykidslink.com</a></strong> and choose the About Us page.</p>