!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title KidsLink: Welcome email
  %body
    %div{:style =>"display:block; margin: 0px; padding:0; min-width: 320px; max-width: 640px;"}
      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "left", :valign => "middle", :width => "43%",:style => "height: 88px; vertical-align: middle; font-size: 27px; color: #717171; font-family: HelveticaNeue-Light, Arial; text-align:center"}
                        Hey
                        %span#username #{@parent_fname}!
                      %td.logo{:align => "right", :valign => "middle", :style => "padding-right: 35px;"}
                        %div{:style => "background:url(#{asset_path('welcome_logo.jpg')}) no-repeat top center; width:64px; height:44px; float:right"}
              %tr
                %td{:align => "center", :valign => "top"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:width => "42%"}
                        %div{:style => "background-color:#48bbea; width:272px; height:74px; font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif; font-size:40px; line-height:35px; color:#fff; text-align:center; padding:8px 0; "}
                          Welcome to
                          %br
                            KidsLink
                      %td{:align => "right",:width => "58%"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td{:align => "right", :valign => "middle"}
                              %div{:style => "color:#48bbea; width:24px; margin-top:-6px;font-family:HelveticaNeue-Thin,Arial, Helvetica, sans-serif;font-size:56px; line-height:62px;"} (
                            %td{:align => "center", :valign => "middle"}
                              %div{:style => "color:#48bbea; font-family: HelveticaNeue-Light, Arial;font-size:22px; line-height:29px; margin:0 0 0 5px"}
                                We're excited to have you
                                %br
                                  as our newest member
                            %td{:align => "right", :valign => "middle"}
                              %div{:style => " margin-top:-6px;width:20px; width:24px; font-family:HelveticaNeue-Thin,Arial, Helvetica, sans-serif;font-size:56px; color:#48bbea; line-height:62px"} )
              %tr
                %td{:align => "center", :style => "padding: 42px 0 50px 0;", :valign => "middle"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "center"}
                        %div{:style => "font-size: 28px; line-height: 33px; font-family: HelveticaNeue-Light, Arial; color: #717171; border-top: 2px solid #e1e1e1; border-bottom: 2px solid #e1e1e1; padding: 20px 0px 24px 0; margin:0 31px"}
                          %p{:style => "padding:0; margin:0px"}
                            Here are a
                            %span{:style => "font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif"}
                              few ways
                            the KidsLink app
                          %p{:style => "padding:0; margin:0px"}
                          can make your job as mom a little easier
              %tr
                %td{:align => "center", :valign => "middle", :style => "font-size: 42px;line-height: 47px; color: #48bbea; padding-bottom: 48px; font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;", :valign => "middle"}
                  Centralize your family's
                  %br/
                  vital information
              %tr
                %td{:align => "center", :valign => "middle"}
                  %div{:style => "background:url(#{asset_path('mobile_img_1_05.jpg')}) no-repeat top center; height:391px; width:575px;"}
              %tr
                %td{:align => "center", :style => "padding: 43px 0 66px 0;", :valign => "bottom"}
                  %div{:style => "font-size: 27px; line-height: 36px; color: #717171; font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif;"}
                    %p{:style => "padding:0; margin:0px"}
                      Store everything from
                      %span{:style => "color: #48bbea;"}
                        immunization docs
                    %p{:style => "padding:0; margin:0px"}
                      to
                      %span{:style => "color: #48bbea;"}
                        driver's licenses
                      to
                      %span{:style => "color: #48bbea;"}
                        insurance
                      to
                      %span{:style => "color: #48bbea;"}
                        artwork
                  %div{:style => "font-size:27px; line-height:36px; padding-top:23px; color:#717171;  font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;"}
                    %p{:style => "padding:0; margin:0px"}
                      all in one place, access wherever you are,
                    %p{:style => "padding:0; margin:0px"}
                      and share with those who need them (spouse,
                    %p{:style => "padding:0; margin:0px"}
                      babysitters, schools, camps, and more).
              %tr
                %td{:align => "center", :valign => "middle"}
                  %div{:style => "border-bottom: 2px solid #e1e1e1; padding-bottom: 60px; margin:0 31px"}
                    %a{:href => "#{root_url}launch_app"}/
                    .div{:style => "font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif; display:inline-block; width:464px; height:78px; border:0px;background-color:#fbaf3f; text-align: center; font-size:28px; line-height:28px; vertical-align:middle; color:#fff; line-height:76px"}
                      Go to the app to
                      %span{:style => "font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif; font-size:28px;"}
                        add your kids
              %tr
                %td{:align => "center", :style => "text-align:center; font-size: 43px; line-height: 47px;  color: #48bbea; padding:43px 0 41px 0 ; font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;", :valign => "middle"}
                  Record and organize your
                  %br
                    family's special moments
              %tr
                %td{:align => "center", :valign => "middle"}
                  %div{:style => "background:url(#{asset_path('mobile_img_2.jpg')}) no-repeat top center; margin:auto; width:408px; height:408px"}
              %tr
                %td{:align => "center", :style => "padding: 56px 0 48px 0; font-family:Arial, Helvetica, sans-serif;", :valign => "bottom"}
                  %div{:style => "font-size: 26px; line-height: 36px; color: #717171; font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif;"}
                    %p{:style => "padding:0; margin:0px"}
                      Easily scrapbook every memorable story
                      %p{:style => "padding:0; margin:0px"}
                        from
                        %span{:style => "color: #48bbea;"}
                          first bath
                        to
                        %span{:style => "color: #48bbea;"}
                          senior prom
                    %div{:style => "font-size:26px; line-height:36px; padding-top:23px; color:#717171;font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;"}
                      %p{:style => "padding:0; margin:0px"}
                        all on each child's very own KidsLink
                      %p{:style => "padding:0; margin:0px"}
                        Storyboard, and finally get those pictures
                      %p{:style => "padding:0; margin:0px"}
                        off your camera roll.
                    %div{:style => "font-size: 24px;  padding-top:23px;  line-height: 24px; color: #717171;font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;"}
                      %p{:style => "padding:0; margin:0px"}
                        (Don't worry, each memory is as
                      %p{:style => "padding:0; margin:0px"}
                        private or public as you want.)
              %tr
                %td{:align => "center", :valign => "middle"}
                  %div{:style => "border-bottom: 2px solid #e1e1e1; padding-bottom: 60px; margin:0 31px"}
                    %a{:href => "#{root_url}launch_app"}/
                    .div{:style => "display:inline-block; width:464px; height:78px; border:0px;background-color:#fbaf3f; text-align: center; font-size:28px; line-height:28px; vertical-align:middle; color:#fff; line-height:76px;font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;"}
                      Go to the app to
                      %span{:style => "font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif; font-size:28px;"}
                        add a post
              %tr
                %td{:align => "center", :style => " padding:46px 0;  font-size: 43px; line-height: 47px; color:#48bbea; font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;", :valign => "middle"}
                  Share and learn with
                  %br
                    your (real) friends
              %tr
                %td{:align => "center", :valign => "middle"}
                  %div{:style => "background:url(#{asset_path('mobile_img_3.jpg')}) no-repeat top center; width:486px; height:425px; margin:auto"}
              %tr
                %td{:align => "center", :style => "padding: 43px 0 53px 0; font-family:Arial, Helvetica, sans-serif;", :valign => "bottom"}
                  %div{:style => "font-size: 26px; line-height: 36px; color: #717171;font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif;"}
                    %p{:style => "padding:0; margin:0px"}
                      Share your
                      %span{:style => "color: #48bbea;"}
                        special,
                      %span{:style => "color: #48bbea;"}
                        funny,
                    %p{:style => "padding:0; margin:0px"}
                      %span{:style => "color: #48bbea;"}
                        notsomuch-for-everyone-to-see-on-
                    %p{:style => "padding:0; margin:0px"}
                      %span{:style => "color: #48bbea;"}
                        Facebook-and-Twitter
                      moments
                  %div{:style => "font-size:26px; padding-top:35px; line-height:36px; color:#717171;font-family: HelveticaNeue-Light, Arial, Helvetica, sans-serif;"}
                    %p{:style => "padding:0; margin:0px"}
                      with only your closest friends and family.
                    %p{:style => "padding:0; margin:0px"}
                      Because it takes a virtual village.
              %tr
                %td{:align => "center", :valign => "middle", :style => "border-bottom: 0px !important; padding-bottom: 60px;"}
                  %a{:href => "#{root_url}launch_app"}/
                  .div{:style => "display:inline-block; width:464px; height:78px; border:0px;background-color:#fbaf3f; text-align: center; font-size:26px; line-height:28px; vertical-align:middle; color:#fff; line-height:76px"}
                    Go to the app to
                    %span{:style => "font-family:HelveticaNeue-Medium, Arial, Helvetica, sans-serif; font-size:28px;"}
                      share w/ friends