#demo2.docRow.getdoc{data: {'document'=> document.id, 'category'=> category.id}}
  .docMain{:onclick => ""}
    .docTitlePlus
      .docTitle
        %a{:href => "#"}= category.display_name
      .docSubTitle
        %span.dstDate #{l(document.taken_on)}
        #{append_dot(document.org_provider)}  #{document.expiration_date.nil? ? nil:  append_dot("exp. " + l(document.expiration_date))} #{append_dot truncate(document.description, length:125)}

  .documentButtons
  .clear