%html
  %head
    %script{:src => "//use.typekit.net/wys2fog.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = stylesheet_link_tag 'm_appstyles', media: 'all'
    = csrf_meta_tag
    %meta{:content => "user-scalable=no, width=640, initial-scale=.5, height=10000", :name => "viewport"}/
    %meta{:content => "MSchool", :name => "apple-mobile-web-app-title"}/
    %META{:CONTENT => "no-cache", "HTTP-EQUIV" => "Pragma"}
    %META{:CONTENT => "-1", "HTTP-EQUIV" => "Expires"}/
    = favicon_link_tag '/assets/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    / iOS6 iPhone ICON
    = favicon_link_tag '/assets/apple-touch-icon-57x57.png', rel: "apple-touch-icon-precomposed", sizes: "57x57"
    / iOS6 iPad ICON
    =# favicon_link_tag '/assets/apple-touch-icon-72x72.png', rel: "apple-touch-icon-precomposed", sizes: "72x72"
    / iOS6 iPhone (Retina) ICON
    = favicon_link_tag "/assets/apple-touch-icon-114x114.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"
    / iOS6 iPad (Retina) ICON
    =# favicon_link_tag '/assets/apple-touch-icon-144x144.png', rel:"apple-touch-icon-precomposed", sizes: "144x144"
    / iOS7 iPhone ICON
    = favicon_link_tag '/assets/apple-touch-icon-60x60.png', rel: "apple-touch-icon", sizes: "60x60"
    / iOS7 iPad ICON
    =# favicon_link_tag '/assets/apple-touch-icon-76x76.png', rel: "apple-touch-icon", sizes: "76x76"
    / iOS7 iPhone (Retina) ICON
    = favicon_link_tag '/assets/apple-touch-icon-120x120.png', rel: "apple-touch-icon", sizes: "120x120"
    / iOS7 iPad (Retina) ICON
    =# favicon_link_tag '/assets/apple-touch-icon-152x152.png', rel: "apple-touch-icon", sizes:"152x152"

    :javascript
      document.addEventListener("touchstart", function() {},false);
    = javascript_include_tag 'm_application'
    %script{:language => "text/javascript"}
      window.addEventListener('load', function() { FastClick.attach(document.body); }, false);
      document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
      document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
  %body
    - if current_user
      .headerContainer
        .headerButtonContainer
          = yield :head
        - if current_user.has_role?(:parent)
          .headerWellnessLogo{:onClick => "window.location.href='#{m_hospital_info_path(@profile)}'", :style => "background-image:url(/assets/h_logo.png)"}
        = yield :page_title
      %br/
      = yield
    - else
      #klLoginContainer
        = yield
